h1,
.h1 {
  font-family: $font-family-serif;
  font-size: 104px;
  line-height: 1;
  font-weight: 900;
  text-transform: uppercase;
  color: #fff;

  @include media-breakpoint-down(xml) {
    font-size: 80px;
  }

  @include media-breakpoint-down(xl) {
    font-size: 70px;
  }

  @include media-breakpoint-down(lg) {
    font-size: 60px;
  }

  @include media-breakpoint-down(md) {
    font-size: 40px;
  }

  @include media-breakpoint-down(sm) {
    font-size: 25px;
  }
}

h2,
.h2 {
  font-family: $font-family-serif;
  font-size: 96px;
  line-height: 1;
  font-weight: 900;
  text-transform: uppercase;
  color: #fff;

  @include media-breakpoint-down(xml) {
    font-size: 60px;
  }

  @include media-breakpoint-down(lg) {
    font-size: 40px;
  }

  @include media-breakpoint-down(md) {
    font-size: 30px;
  }

  &.h2--default {
    font-size: 50px;
    color: $primary;

    @include media-breakpoint-down(lg) {
      font-size: 40px;
    }

    @include media-breakpoint-down(sm) {
      font-size: 27px;
    }
  }
}

h3,
.h3 {
  font-family: $font-family-serif;
  font-size: 39px;
  line-height: 1;
  font-weight: 900;
  text-transform: uppercase;
  color: #fff;

  @include media-breakpoint-down(lg) {
    font-size: 25px;
  }

  &.h3--default {
    font-size: 35px;
    line-height: 1.23;
  }
}

h4,
.h4 {
  font-family: $font-family-serif;
  font-size: 30px;
  line-height: 1;
  font-weight: 900;
  text-transform: uppercase;
  color: #fff;

  @include media-breakpoint-down(lg) {
    font-size: 25px;
  }

  @include media-breakpoint-down(md) {
    font-size: 20px;
  }
}

h5,
.h5 {
  font-family: $font-family-serif;
  font-size: 25px;
  line-height: 1;
  font-weight: 900;
  text-transform: uppercase;
  color: #fff;

  @include media-breakpoint-down(xml) {
    font-size: 20px;
  }

  @include media-breakpoint-down(sm) {
    font-size: 16px;
  }

  &.h5--default {
    font-family: $font-family-sans-serif;
    line-height: 1.2;
    font-weight: 400;
    text-transform: none;
    color: $black;
  }

  &.h5--new {
    font-family: $font-family-secondary;
    line-height: 1.2;
  }
}

h6,
.h6 {
  font-family: $font-family-sans-serif;
  font-size: 23px;
  line-height: 1.3;
  font-weight: 900;
  text-transform: uppercase;
  color: #fff;

  @include media-breakpoint-down(xml) {
    font-size: 20px;
  }

  @include media-breakpoint-down(sm) {
    font-size: 15px;
  }
}

p,
.p {
  font-family: $font-family-sans-serif;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 600;
  color: $black;

  @include media-breakpoint-down(xml) {
    font-size: 18px;
  }

  &.p--sm {
    font-size: 15px;
    line-height: 1.15;
    font-weight: 700;

    &.text-uppercase {
      @include media-breakpoint-down(xml) {
        font-size: 13px;
      }
    }
  }

  &.p--xs {
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
  }

  &.p--lh-lg {
    line-height: 1.81;
  }

  &.p--xxs {
    font-size: 14px;
  }
}

.text--lh-md {
  line-height: 1.5;
}

.font-weight-medium {
  font-weight: 500;
}

.font-weight-semi {
  font-weight: 600 !important;
}

.font-weight-black {
  font-weight: 900 !important;
}

.font-family-serif {
  font-family: $font-family-serif;
}

.font-secondary {
  font-family: $font-family-secondary !important;
}

.text-gray {
  color: #828282;
}

.text-grayish {
  color: rgba($black, 0.5);
}

.text-yellow {
  color: #efc825;
}

.text-transform-none {
  text-transform: none;
}

.img-radius {
  border-radius: 20px;
}

.bg-gray {
  background: rgba(#c4c4c4, 0.2);
}

ul {
  li {
  }

  &.ul--gray {
    padding-left: 0;

    li {
      position: relative;
      margin-bottom: 16px;
      padding-left: 27px;
      list-style: none;
      font-family: $font-family-secondary;
      font-size: 20px;
      line-height: 1.2;
      font-weight: 600;
      color: rgba($black, 0.5);

      @include media-breakpoint-down(xl) {
        margin-bottom: 10px;
        font-size: 16px;
      }

      &:before {
        position: absolute;
        top: 9px;
        left: 0;
        display: block;
        width: 11px;
        height: 11px;
        content: '';
        background: $tertiary;
        border-radius: 50%;

        @include media-breakpoint-down(xl) {
          top: 5px;
        }
      }
    }
  }

  &.ul--blue {
    padding-left: 0;
    padding-right: 20%;

    @include media-breakpoint-down(lg) {
      padding-right: 0;
    }

    li {
      position: relative;
      margin-bottom: 25px;
      padding-left: 40px;
      list-style: none;
      font-family: $font-family-secondary;
      font-size: 16px;
      line-height: 1.2;
      font-weight: 400;
      color: #333;

      @include media-breakpoint-down(xl) {
        margin-bottom: 10px;
        font-size: 16px;
      }

      &:before {
        position: absolute;
        top: 6px;
        left: 0;
        display: block;
        width: 8px;
        height: 8px;
        content: '';
        background: $primary;
        border-radius: 50%;

        @include media-breakpoint-down(xl) {
          top: 5px;
        }
      }
    }
  }

  &.ul--default {
    padding-right: 0;
    li {
      padding-left: 26px;
      font-size: 20px;
    }

    li:before {
      width: 6px;
      height: 6px;
    }
  }
}

ol {
  li {
  }
}

table {
}

tr {
}

th {
}

td {
}

a {
}

input {
  &:focus {
    outline: none;
  }
}

textarea {
  &:focus {
    outline: none;
  }
}

select {
}

button {
  padding: 0;
  border: 0;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

input[type='submit'] {
  border: 0;
  cursor: pointer;
}

img {
}
