.castings-slider {
  margin-bottom: 65px;
  overflow: hidden;

  &__content {
  }

  &__item {
    padding: 0 23px;
    display: flex;
    height: auto;

    @media (max-width: 1600px) {
      padding: 0 10px;
    }
  }

  .slick-list {
    overflow: visible;
  }

  .slick-track {
    display: flex !important;
  }

  .slick-arrow {
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
    width: 92px;
    height: 92px;
    background: url(../img/slick-arrow-white.svg) no-repeat center;
    background-size: contain;
    top: 75px;
    margin-top: 0;

    @include media-breakpoint-down(md) {
      display: block !important;
      width: 60px;
      height: 60px;
    }

    @include media-breakpoint-down(xs) {
      top: 50%;
      margin-top: -30px;
    }

    &.slick-disabled {
      display: block;
    }

    &.slick-prev {
      @include media-breakpoint-down(md) {
        left: 0 !important;
      }
    }

    &.slick-next {
      @include media-breakpoint-down(md) {
        right: 0 !important;
      }
    }
  }
}
