.award {
  margin-bottom: 40px;
  padding: 95px 100px 95px 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: url(../img/award.jpg) no-repeat center;
  background-size: cover;
  border-radius: 10px;

  @include media-breakpoint-down(xl) {
    padding: 50px 30px;
  }

  @include media-breakpoint-down(lg) {
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
  }

  &__header {
    max-width: 800px;
    font-size: 40px;

    @include media-breakpoint-down(xl) {
      max-width: 70%;
      font-size: 35px;
    }

    @include media-breakpoint-down(lg) {
      margin-bottom: 20px;
      max-width: none;
      font-size: 30px;
    }

    @include media-breakpoint-down(sm) {
      font-size: 25px;
    }

    @include media-breakpoint-down(xs) {
      font-size: 20px;
    }
  }
}
