.performance {
  margin-bottom: 45px;
  display: block;
  @include transition;

  &:hover {
    opacity: 0.8;
  }

  &__picture-wrapper {
    position: relative;
    border-radius: 20px;
    overflow: hidden;

    &:before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 70.83%, rgba(0, 0, 0, 0.61) 100%);
      position: absolute;
      z-index: 1;
    }
  }

  &__picture {
    max-width: 100%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include media-breakpoint-down(md) {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }

  &--rtl {
    .row {
      @include media-breakpoint-down(md) {
        flex-direction: column-reverse;
      }
    }
  }
}
