mixin story(data)
  .story&attributes(attributes)
    a.story__media(href="#", style="background-image: url(./img/story-1.jpg);")
    .story__content
      .story__header
        p.p--xs.text-uppercase.font-weight-bold.mb-0.font-secondary= data.name
        .story__place= data.place
      p.mb-0.font-weight-semi.font-secondary= data.project
