.story {
  margin-bottom: 40px;
  width: 100%;
  max-width: 520px;

  @include transition;

  &:hover {
    opacity: .8;
  }

  &__media {
    position: relative;
    padding-top: 60%;
    display: block;
    background-position: center;
    background-size: cover;
    border-radius: 20px;

    @include media-breakpoint-down(lg) {
      border-radius: 10px;
    }

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      content: '';
      background: linear-gradient(180deg, rgba(0, 0, 0, .47) 0%, rgba(0, 0, 0, 0) 100%);
      border-radius: 20px;
    }

    &:after {
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      width: 76px;
      height: 76px;
      content: '';
      background: url(../img/story-play.svg) no-repeat center;
      background-size: contain;
      transform: translate(-50%, -50%);
    }
  }

  &__content {
  }

  &__header {
    margin-top: 34px;
    margin-bottom: 15px;
    display: flex;
    align-items: baseline;
  }

  &__place {
    margin-left: 17px;
    font-family: $font-family-secondary;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: rgba(#333, .5);
  }

  &__userpic {
    margin-right: 28px;
    width: 60px;
    height: 60px;
    background-position: top center;
    background-size: cover;
    border-radius: 50%;
  }

  &__header-content {
  }

  &__date {
    margin-bottom: 4px;
    font-size: 15px;
    line-height: 1.17;
    font-weight: 500;
    color: rgba(#333, .5);
  }

  &__author {
    margin-bottom: 0;
    font-size: 15px;
    line-height: 1.17;
    font-weight: 500;
    text-transform: uppercase;
    color: #333;
  }

  &__dscr {
    font-size: 16px;
    line-height: 1.17;
    font-weight: 400;
    color: rgba(#333, .5);
  }
}
