.fun {
  margin-bottom: 90px;
  @include transition;
  display: block;

  @include media-breakpoint-down(sm) {
    margin-bottom: 40px;
  }

  &:hover {
    opacity: 0.8;
  }

  &__photo {
    padding-top: 83%;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    margin-bottom: 35px;
    border-radius: 20px;
  }
}
