.streams {
  &__front {
    background-size: cover;
    background-position: top center;
    position: relative;
    padding: 200px 0 160px;
    min-height: 670px;
    margin-bottom: 88px;

    @include media-breakpoint-down(sm) {
      font-size: 40px;
      min-height: 0;
    }

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      content: '';
      background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    }

    &--festival {
      .streams__front-content {
        padding-left: 0;
        padding-right: 0;
      }

      .streams__front-header {
        font-size: 70px;
        margin-bottom: 60px;

        @include media-breakpoint-down(xml) {
          font-size: 60px;
        }

        @include media-breakpoint-down(xl) {
          font-size: 50px;
        }

        @include media-breakpoint-down(lg) {
          margin-bottom: 30px;
          font-size: 36px;
        }
      }

      .streams__front-subheader {
        font-size: 30px;
        line-height: 1.21;

        @include media-breakpoint-down(lg) {
          font-size: 24px;
        }
      }
    }

    &--festival-new {
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 80px;

      @include media-breakpoint-down(md) {
        min-height: 0;
      }

      .streams__front-header {
        margin-bottom: 145px;

        @include media-breakpoint-down(xl) {
          margin-bottom: 100px;
        }

        @include media-breakpoint-down(lg) {
          margin-bottom: 40px;
        }
      }
    }
  }

  &__front-wrapper {
    display: flex;
    align-items: flex-start;
  }

  &__front-video-wrapper {
    position: relative;
  }

  &__front-video {
    width: 100%;
    display: block;
    height: 500px;
    background: url(../img/festival-front-video.jpg) no-repeat center;
    background-size: cover;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    @include transition;

    @include media-breakpoint-down(xl) {
      max-height: 300px;
    }

    &:hover {
      opacity: 0.9;
    }

    &:after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background: linear-gradient(180deg, rgba(74, 118, 168, 0.56) 0%, rgba(74, 118, 168, 0) 100%);
    }
  }

  &__front-video-content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

    &:before {
      content: '';
      display: block;
      width: 54px;
      height: 54px;
      background: url(../img/play-white.svg) no-repeat center;
      background-size: contain;
      margin-bottom: 16px;
    }
  }

  &__front-video-vk {
    position: absolute;
    left: 27px;
    bottom: 19px;
    width: 24px;
    height: 24px;
    background: url(../img/vk-white.svg) no-repeat center;
    background-size: contain;
  }

  &__front-content {
    position: relative;
    z-index: 1;
    padding: 0 120px;

    @include media-breakpoint-down(xml) {
      padding: 0;
    }
  }

  &__front-header {
    font-size: 90px;
    line-height: 1.1;
    font-family: $font-family-secondary;
    margin-bottom: 45px;

    @include media-breakpoint-down(xml) {
      font-size: 70px;
    }

    @include media-breakpoint-down(lg) {
      font-size: 50px;
    }

    @include media-breakpoint-down(sm) {
      font-size: 26px;
    }

    &--parade {
      margin-bottom: 100px;

      @include media-breakpoint-down(lg) {
        margin-bottom: 40px;
      }
    }
  }

  &__front-subheader {
    font-size: 52px;
    line-height: 1.15;
    text-transform: uppercase;
    color: #fff;
    font-family: $font-family-secondary;
    margin-bottom: 50px;

    @include media-breakpoint-down(xml) {
      font-size: 40px;
    }

    @include media-breakpoint-down(lg) {
      font-size: 30px;
      margin-bottom: 30px;
    }

    @include media-breakpoint-down(sm) {
      font-size: 20px;
    }
  }

  &__front-video {
  }

  &__front-comment {
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    color: #fff;
    font-family: $font-family-secondary;

    @include media-breakpoint-down(sm) {
      font-size: 12px;
    }

    a {
      color: #f29400;
      font-size: 20px;

      @include media-breakpoint-down(sm) {
        font-size: 16px;
      }
    }
  }

  &__features {
    margin-bottom: 115px;
  }

  &__features-btn {
    margin-top: 105px;

    @include media-breakpoint-down(md) {
      margin-top: 40px;
    }
  }

  &__formats {
  }

  &__formats-column {
    display: flex;
    flex-direction: column;
    width: 100%;

    @include media-breakpoint-down(lg) {
      margin-bottom: 80px;
    }

    @include media-breakpoint-down(md) {
      margin-bottom: 40px;
    }
  }

  &__formats-item {
    &--red {
      border-color: #ce3b65 !important;
    }
  }

  &__formats-comment {
    font-size: 16px;
    line-height: 1.5;
    color: rgba(#333, 0.5);
    font-weight: 700;
    font-family: $font-family-secondary;
    margin-top: 45px;
    margin-bottom: 60px;

    @include media-breakpoint-down(lg) {
      margin-top: 0;
    }
  }

  &__document {
    width: 100%;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $primary;
    font-size: 20px;
    font-weight: 600;
    font-family: $font-family-secondary;
    line-height: 1.2;
    color: $primary;
    flex-shrink: 0;
    padding: 45px 60px;

    @include media-breakpoint-down(xl) {
      padding: 20px;
    }

    @include media-breakpoint-down(lg) {
      margin-top: 20px;
    }

    @include media-breakpoint-down(xs) {
      font-size: 16px;
    }

    &:before {
      content: '';
      display: block;
      width: 62px;
      height: 62px;
      margin-right: 24px;
      background: url(../img/document-icon.svg) no-repeat center;
      background-size: contain;
      flex-shrink: 0;

      @include media-breakpoint-down(xs) {
        width: 40px;
        height: 40px;
      }
    }
  }

  &__participation {
    background: #715f7a;
    padding: 55px 0 90px;
  }

  &__participation-item {
    display: flex;
    align-items: center;

    @include media-breakpoint-down(lg) {
      margin-bottom: 40px;
      align-items: flex-start;
    }

    br {
      @include media-breakpoint-down(xml) {
        display: none;
      }
    }

    &--left {
    }

    &--right {
      padding-left: 40px;

      @include media-breakpoint-down(lg) {
        padding-left: 0;
      }

      &:before {
        content: '';
        display: block;
        width: 389px;
        height: 173.5px;
        display: block;
        background: url(../img/stream-timeline-arrows.svg) no-repeat center;
        margin-right: -15px;
        flex-shrink: 0;

        @include media-breakpoint-down(lg) {
          display: none;
        }
      }
    }

    &--sm {
      .streams__participation-item-content {
        font-size: 16px;

        @include media-breakpoint-down(xml) {
          font-size: 14px;
        }

        @include media-breakpoint-down(lg) {
          font-size: 18px;
        }
      }
    }

    &:last-child {
      &:before {
        background: url(../img/streams-timeline-arrow--last.svg) no-repeat top center;
        background-size: contain;
      }
    }
  }

  &__participation-item-number {
    font-size: 40px;
    line-height: 1.2;
    font-weight: 500;
    font-family: $font-family-secondary;
    color: #fff;
    border: 3px solid #efc825;
    margin-right: 25px;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #715f7a;
    flex-shrink: 0;

    @include media-breakpoint-down(lg) {
      width: 60px;
      height: 60px;
      font-size: 30px;
    }

    @include media-breakpoint-down(sm) {
      font-size: 20px;
      width: 40px;
      height: 40px;
      margin-right: 15px;
    }
  }

  &__participation-item-content {
    font-size: 20px;
    line-height: 1.2;
    color: #fff;
    font-weight: 600;
    font-family: $font-family-secondary;

    @include media-breakpoint-down(lg) {
      font-size: 18px;
      padding-top: 5px;
    }

    @include media-breakpoint-down(sm) {
      font-size: 16px;
      font-weight: 400;
    }

    a {
      color: #efc825;
    }
  }

  &__registration {
    padding: 70px 0 90px;

    .form__item {
      margin-bottom: 25px;
    }

    .form__label {
      font-family: $font-family-secondary;
      font-weight: 500;
      font-size: 14px;
    }

    .form__footer {
      @include media-breakpoint-down(sm) {
        flex-direction: column;
        align-items: flex-start;
      }
    }

    .btn {
      min-width: 248px;
      min-height: 48px;

      @include media-breakpoint-down(sm) {
        margin-bottom: 20px;
      }
    }

    .form__footer-agreement {
      font-size: 14px;
      line-height: 17px;
      color: #333;
    }
  }
}
