.partners {
  padding-top: 40px;

  @media screen and (max-height: 719px) {
    padding-top: 20px;
  }

  &__row {
    margin-bottom: 18px;
    padding: 10px 0;

    @include media-breakpoint-down(xml) {
      margin-bottom: 0;
    }

    &--light {
      background: rgba(#efc825, .2);
    }

    &--dark {
      background: rgba($primary, .2);
    }
  }

  &__row-wrapper {
    position: relative;
    padding-left: 110px;

    @include media-breakpoint-down(md) {
      padding-left: 60px;
    }

    @include media-breakpoint-down(sm) {
      padding-left: 0;
    }
  }

  &__header {
    position: absolute;
    top: 50%;
    left: 2px;
    display: inline-flex;
    width: 1px;
    height: 1px;
    font-size: 12px;
    line-height: 1;
    text-align: center;
    color: $dark;
    transform: rotate(-90deg);

    @include media-breakpoint-down(xml) {
      font-size: 10px;
    }

    @include media-breakpoint-down(sm) {
      position: static;
      width: auto;
      height: auto;
      transform: none;
    }

    @include media-breakpoint-down(sm) {
      font-size: 16px;
      text-transform: capitalize;
    }

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: translate(-50%, -50%);

      @include media-breakpoint-down(sm) {
        position: static;
        transform: none;
      }
    }
  }

  &__row-content {
    padding-top: 20px;

    @media screen and (max-height: 719px) {
      padding-top: 10px;
    }

    @include media-breakpoint-down(sm) {
      display: flex;
      flex-flow: row wrap;
    }

    .slick-track {
      display: flex;
      align-items: center;
    }
  }

  &__item {
    margin-bottom: 20px;
    display: flex !important;
    width: 100%;
    justify-content: center;
    align-items: center;

    @media screen and (max-height: 719px) {
      margin-bottom: 10px;
    }

    @include media-breakpoint-down(sm) {
      max-width: 50%;
    }
  }

  &__logo {
    max-width: 130px;
    max-height: 130px;

    @include media-breakpoint-down(xml) {
      max-width: 100px;
      max-height: 100px;
    }

    @include media-breakpoint-down(xl) {
      max-width: 80px;
      max-height: 80px;
    }
  }

  .slick-arrow {

    @include media-breakpoint-down(md) {
      display: block !important;
    }

    &.slick-disabled {
      display: none !important;
    }
  }

  .slick-prev {

    @include media-breakpoint-down(md) {
      left: -30px;
    }
  }

  .slick-next {
    right: -40px;

    @include media-breakpoint-down(md) {
      right: -30px;
    }
  }

  &--new {

    .container {
      padding-right: 40px;

      @include media-breakpoint-down(sm) {
        padding-right: 10px;
      }
    }

    .partners__row {
      margin-bottom: 35px;
      padding: 25px 0;
    }

    .partners__row-wrapper {
      padding-right: 40px;
      padding-left: 40px;
    }

    .partners__row-content {
      padding-top: 0;

      @include media-breakpoint-down(sm) {
        display: block;
      }
    }

    .partners__item {
      margin: 0 27px;
      background: #fff;
      border-radius: 10px;

      @include media-breakpoint-down(md) {
        margin: 0 10px;
      }

      @include media-breakpoint-down(sm) {
        max-width: none;
        min-height: 100px;
      }
    }

    .partners__logo {
      max-width: 80%;
      max-height: 90%;

      @include media-breakpoint-down(sm) {
        max-height: 90px;
      }
    }

    .slick-arrow {
      margin-top: -26px;
      width: 52px;
      height: 52px;

      @include media-breakpoint-down(md) {
        margin-top: -20px;
        width: 40px;
        height: 40px;
      }

      &.slick-disabled {
        display: block !important;
      }

      &.slick-prev {
        left: -40px;
      }

      &.slick-next {
        right: -40px;
      }
    }
  }
}
