extends ../templates/template.pug
block content
  .container.py-50
    h2.mb-20.pb-10.border-bottom.text-dark Список страниц
    .row
      .col-md-4
        ul.pl-0
          li(style="list-style: none;")
            a.d-block.my-20(href="main.html", style="font-size: 20px;") Main
          li(style="list-style: none;")
            a.d-block.my-20(href="festival.html", style="font-size: 20px;") Festival
          li(style="list-style: none;")
            a.d-block.my-20(href="forum.html", style="font-size: 20px;") Forum
          li(style="list-style: none;")
            a.d-block.my-20(href="teams.html", style="font-size: 20px;") Teams
          li(style="list-style: none;")
            a.d-block.my-20(href="coordinator.html", style="font-size: 20px;") Coordinator
          li(style="list-style: none;")
            a.d-block.my-20(href="volunteer.html", style="font-size: 20px;") Volunteer
          li(style="list-style: none;")
            a.d-block.my-20(href="about.html", style="font-size: 20px;") About
          li(style="list-style: none;")
            a.d-block.my-20(href="grant.html", style="font-size: 20px;") Grant
          li(style="list-style: none;")
            a.d-block.my-20(href="lk.html", style="font-size: 20px;") Новый кабинет
          li(style="list-style: none;")
            a.d-block.my-20(href="cabinet-applications.html", style="font-size: 20px;") Cabinet Applications
          li(style="list-style: none;")
            a.d-block.my-20(href="cabinet-edit.html", style="font-size: 20px;") Cabinet Edit
          li(style="list-style: none;")
            a.d-block.my-20(href="partners.html", style="font-size: 20px;") Partners
          li(style="list-style: none;")
            a.d-block.my-20(href="workshop.html", style="font-size: 20px;") Workshop
          li(style="list-style: none;")
            a.d-block.my-20(href="residence.html", style="font-size: 20px;") Residence
          li(style="list-style: none;")
            a.d-block.my-20(href="about-new.html", style="font-size: 20px;") About New
          li(style="list-style: none;")
            a.d-block.my-20(href="about-short.html", style="font-size: 20px;") About Short
          li(style="list-style: none;")
            a.d-block.my-20(href="streams.html", style="font-size: 20px;") Streams
          li(style="list-style: none;")
            a.d-block.my-20(href="castings.html", style="font-size: 20px;") Castings
          li(style="list-style: none;")
            a.d-block.my-20(href="castings-short.html", style="font-size: 20px;") Castings Short
          li(style="list-style: none;")
            a.d-block.my-20(href="parade.html", style="font-size: 20px;") Parade
          li(style="list-style: none;")
            a.d-block.my-20(href="festival-long.html", style="font-size: 20px;") Festival long
          li(style="list-style: none;")
            a.d-block.my-20(href="festival-new.html", style="font-size: 20px;") Festival New
