mixin header-inner(data)
  .header-inner&attributes(attributes)
    .header-inner__wrapper
      if data && data.modifier2 == 'front'
      else
        if data && data.modifier == 'new'
          +logo({
            img: 'logo-new.svg'
          }).header-inner__logo
        else if data && data.modifier == 'newest'
          +logo({
            img: 'logo--newest.svg'
          }).header-inner__logo
        else
          +logo({
            img: 'logo.svg'
          }).header-inner__logo
        if data && data.modifier2 == 'about'
          .header-inner__menu
            a.header-inner__link(href="#") О фестивале
        else
          .header-inner__menu
            a.header-inner__link(href="#") Как добраться
            a.header-inner__link(href="#") Где жить?
            a.header-inner__link(href="#") Лайн-ап
      .d-flex
        if data && data.modifier == 'new' || data && data.modifier == 'newest'
          a.header-inner__login.js-login(href="#")
        else
          a.btn.btn-outline-secondary.mr-20.js-login(href="#") Войти
        a.btn.btn-outline-secondary.js-registration(href="#") Регистрация
