.registration {
  &__type {
    margin-top: 30px;
  }

  &__type-top {
    margin-bottom: 35px;
    display: flex;
    align-items: center;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__type-header {
    margin-right: 48px;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 600;
    color: #fff;

    @include media-breakpoint-down(sm) {
      margin-bottom: 20px;
    }
  }

  &__type-content {
    display: flex;
    align-items: center;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }
  }

  &__type-dscr {
    margin-bottom: 25px;
  }

  &__type-dscr-item {
    margin-bottom: 0;
    display: none;
    color: #fff;

    &--active {
      display: block;
    }
  }

  &__size {
    margin-right: -8px;
    display: flex;
    width: calc(100% + 8px);

    @include media-breakpoint-down(lg) {
      flex-wrap: wrap;
    }

    .custom-radio {
      flex-grow: 1;

      @include media-breakpoint-down(lg) {
        margin-bottom: 10px;
      }
    }

    .custom-control-label {
      padding: 0 5px;
      width: 100%;
    }
  }

  &__radio-header {
    font-size: 14px;
    font-weight: 600;
    font-family: $font-family-secondary;
    line-height: 17px;
    color: #333;
  }

  &__radio-content {
    display: flex;
    align-items: center;

    @include media-breakpoint-down(sm) {
      margin-top: 10px;
      margin-bottom: 20px;
      flex-direction: column;
    }
  }

  &__radio-btn {
    min-width: 183px;
  }

  &--blue {
    padding: 60px 0;
    background: $primary url(../img/form-blue-bg.svg) no-repeat right bottom;

    @include media-breakpoint-down(lg) {
      background: $primary;
    }

    .form__label {
      color: #fff;
    }

    .form__file-name {
      color: #fff;
    }

    .form__file-size {
      color: rgba(#fff, 0.54);
    }

    .form__file-remove {
      background: url(../img/form-remove-white.svg) no-repeat;
      background-size: contain;
    }

    .form__footer-agreement {
      color: #fff;

      a {
        color: #c9df55;
      }
    }
  }

  &--no-bg {
    background: $primary;
  }

  &--gray {
    background: rgba(#c4c4c4, 0.2);

    .form__label {
      color: #4f4f4f;
    }

    .registration__type-header {
      font-family: $font-family-secondary;
      font-size: 14px;
      line-height: 17px;
      font-weight: 600;
      color: #333;
    }

    .registration__type-content {
      margin-left: -15px;
      width: calc(100% + 30px);

      @include media-breakpoint-down(sm) {
        margin: 0;
        width: 100%;
      }
    }

    .custom-radio {
      margin: 0 15px;
      flex-grow: 1;
      flex-basis: 250px;
      background: #fff;
      border-radius: 5px;

      @include media-breakpoint-down(sm) {
        margin-bottom: 20px;
        width: 100%;
        flex-basis: auto;
      }

      .custom-control-input {
        &:checked ~ .custom-control-label {
          border-color: #efc825;
        }
      }

      .custom-control-label {
        width: 100%;
        font-family: $font-family-secondary;
        font-size: 16px;
        font-weight: 700;
        color: #4f4f4f;
        border: 1px solid #bdbdbd;
      }
    }
  }
}
